@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p, h2 {
  @apply font-sans;
}